*~
*.a
aclocal.m4
autom4te.cache
cluster1
compile
config.*
configure
depcomp
.deps
INSTALL
index-source
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mongoc-ping
mongoc-stat
mongoc-tail
*.o
*.pc
stamp-h1
*.swp
repltest1
shardtest1
shardtest2
test-load
test-mock-server
test-mongoc-array
test-mongoc-buffer
test-mongoc-client
test-mongoc-client-pool
test-mongoc-collection
test-mongoc-cursor
test-mongoc-database
test-mongoc-event
test-mongoc-list
test-mongoc-queue
test-mongoc-read-prefs
test-mongoc-rpc
test-mongoc-stream
test-mongoc-uri
test-mongoc-write-concern
test-replica-set
test-secondary
test-sharded-cluster
