*~
*.a
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
.deps
INSTALL
index-source
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mongoc-ping
mongoc-stat
*.o
*.pc
stamp-h1
*.swp
test1
test-load
test-mock-server
test-mongoc-array
test-mongoc-buffer
test-mongoc-client
test-mongoc-client-pool
test-mongoc-collection
test-mongoc-event
test-mongoc-list
test-mongoc-queue
test-mongoc-read-prefs
test-mongoc-rpc
test-mongoc-uri
test-mongoc-write-concern
test-replica-set
test-secondary
