*~
*.a
aclocal.m4
aggregation1
AUTHORS
autom4te.cache
bulk1
bulk2
bulk3
ChangeLog
cluster1
*.cmake
CMakeCache.txt
CMakeFiles
compile
config.*
configure
COPYING
data
depcomp
.deps
.dirstamp
.DS_Store
echo-server
example-client
example-scram
example-gridfs
example-matcher
filter-bsondump
find-and-modify
*.gcda
*.gcno
*.gz
index-source
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mongoc-dump
mongoc-ping
mongoc-rpc-validate
mongoc-stat
mongoc-tail
*.o
*.pc
README
repltest1
shardtest1
shardtest2
*.so
*.so.*
stamp-h1
*.swp
tags
test-libmongoc
test-load
test.log
test-mock-server
test-mongoc-array
test-mongoc-buffer
test-mongoc-client
test-mongoc-client-pool
test-mongoc-collection
test-mongoc-cursor
test-mongoc-database
test-mongoc-event
test-mongoc-gridfs
test-mongoc-gridfs-file-page
test-mongoc-list
test-mongoc-matcher
test-mongoc-queue
test-mongoc-read-prefs
test-mongoc-rpc
test-mongoc-stream
test-mongoc-stream-tls
test-mongoc-uri
test-mongoc-write-concern
test-replica-set
test-replica-set-ssl
test-secondary
test-sharded-cluster
test-x509
