libmongoc-1.0-config-version.cmake
libmongoc-1.0-config.cmake
libmongoc-static-1.0-config-version.cmake
libmongoc-static-1.0-config.cmake
example-client
example-collection-watch
example-command-monitoring
example-command-with-opts
example-create-indexes
example-gridfs
example-pool
example-scram
example-sdam-monitoring
example-session
example-transaction
example-update
fam
mongoc-dump
mongoc-ping
mongoc-stat
mongoc-tail
test-libmongoc
test-mongoc-gssapi
