Source: mongo-c-driver
Section: libs
Priority: optional
Maintainer: Christian Hergert <christian.hergert@mongodb.com>
Uploaders: Christian Hergert <christian.hergert@mongodb.com>
Build-Depends: debhelper (>= 9),
               cdbs (>= 0.4.93~),
               dpkg-dev (>= 1.16.1~),
               libssl-dev (>= 1.0.1~),
               libsasl2-dev (>= 2.1.25~)
Standards-Version: 3.9.5
Homepage: https://docs.mongodb.org/ecosystem/drivers/c/
Vcs-Git: git://github.com/mongodb/mongo-c-driver.git
Vcs-Browser: https://github.com/mongodb/mongo-c-driver

Package: libbson-1.0-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: BSON manipulation library
 Libbson is a library providing useful routines related to 
 building, parsing, and iterating BSON documents. It is a 
 useful base for those wanting to write high-performance 
 C extensions to higher level languages such as Python, 
 Ruby, or Perl.

Package: libbson-1.0-0-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libbson-1.0-0 (= ${binary:Version}), ${misc:Depends}
Description: BSON manipulation library (debug symbols)
 Libbson is a library providing useful routines related to 
 building, parsing, and iterating BSON documents. It is a 
 useful base for those wanting to write high-performance 
 C extensions to higher level languages such as Python, 
 Ruby, or Perl.
 .
 This package contains the debug files.

Package: libbson-dev
Section: libdevel
Architecture: any
Depends: libbson-1.0-0 (= ${binary:Version}), pkg-config, ${misc:Depends}
Description: BSON manipulation library (development files)
 Libbson is a library providing useful routines related to 
 building, parsing, and iterating BSON documents. It is a 
 useful base for those wanting to write high-performance 
 C extensions to higher level languages such as Python, 
 Ruby, or Perl.
 .
 This package contains the development files.

Package: libmongoc-1.0-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: MongoDB C Driver
 mongo-c-driver is a library for building high-performance
 applications that communicate with the MongoDB NoSQL
 database in the C language. It can also be used to write
 fast client implementations in languages such as Python,
 Ruby, or Perl.

Package: libmongoc-1.0-0-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libmongoc-1.0-0 (= ${binary:Version}), ${misc:Depends}
Description: MongoDB C Driver (debug symbols)
 mongo-c-driver is a library for building high-performance
 applications that communicate with the MongoDB NoSQL
 database in the C language. It can also be used to write
 fast client implementations in languages such as Python,
 Ruby, or Perl.
 .
 This package contains the debug files.

Package: libmongoc-dev
Section: libdevel
Architecture: any
Depends: libmongoc-1.0-0 (= ${binary:Version}), pkg-config, ${misc:Depends}
Description: MongoDB C Driver (development files)
 mongo-c-driver is a library for building high-performance
 applications that communicate with the MongoDB NoSQL
 database in the C language. It can also be used to write
 fast client implementations in languages such as Python,
 Ruby, or Perl.
 .
 This package contains the development files.
