#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND := -lpthread

# main packaging script based on dh7 syntax
%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --enable-debug-symbols=yes --enable-html-docs=yes --enable-man-pages=yes --enable-maintainer-flags=yes --enable-tests=no
	# Upstream's autogen.sh creates this symlink, but dh-autoreconf doesn't
	[ -f README ] || /bin/cp README.rst README
	[ -f src/libbson/README ] || /bin/cp src/libbson/README.rst src/libbson/README

override_dh_auto_build:
	dh_auto_build
	make doc/man doc/html
	(cd src/libbson ; make doc/man doc/html)

override_dh_auto_clean:
	dh_auto_clean
	[ ! -f README ] || /bin/rm -f README
	[ ! -f src/libbson/README ] || /bin/rm -f src/libbson/README

override_dh_install:
	dh_install -a -X.la -Xmongoc-stat -Xdoc/mongo-c-driver -Xdoc/libbson -Xman/man3 -X-priv.so -X-priv.pc --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -V
