#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk

include /usr/share/dpkg/buildflags.mk

DEB_CONFIGURE_EXTRA_FLAGS := --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
                             --with-libbson=bundled \
                             --enable-man-pages \
                             --enable-debug-symbols \
                             --enable-optimizations \
                             --enable-hardening \
                             --enable-ssl \
                             --enable-sasl \
                             --enable-maintainer-flags
DEB_DH_MAKESHLIBS_ARGS_libbson-1.0-0 += -V -- -c4

DEB_MAKE_CHECK_TARGET = check

common-binary-predeb-arch:: list-missing
